*{
    box-sizing: border-box;
}



body{
    margin: 0;
    font-family: 'roboto';
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.2em;}
*/

button{
    font-size:  1.3em; 
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: solid 2px rgb(36, 32, 32);
    box-shadow: 2px 2px 10px rgb(36, 32, 32);
    color: white;
    background-color: #6CB52B;
}
 
button:hover{
    background-color: #5a9924;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: #6CB52B;
}

header{
     background-color: #6CB52B;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;  
    color: white;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    text-align:center;
    flex-direction:column;
    padding-bottom: 25px;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #e5ece0;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(MEDIA/SENA-GUAVIARE-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    font-size: 3.7em;
}

#sobre-nosotros .container{
    text-align: center;
    padding: 200px 12px;
}

#Resumen .container{
    text-align: center;
    padding: 200px 12px;
}

#Proyectos .container{
    text-align: center;
    padding: 200px 12px;
}



p{
    margin: 0;
    padding: 12px;
    color: rgb(85, 82, 82);
}

footer{
    background-color: #6CB52B;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #sobre-nosotros .img-container{
        background-image:url(media/somos-sena.jpg);
        background-size: cover;
        background-position: center center;
        width: 50%;
        height: 400px;
    }

    #sobre-nosotros .container{
        display: flex;
        justify-content: space-around;

    }

    #sobre-nosotros .texto{
        text-align: initial;
        width: 60%;
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #sobre-nosotros p{
        padding-top: 0;
    }

    #Resumen .img-container{
        background-image:url(media/resumen1.png);
        background-size: cover;
        background-position: center center;
        width: 50%;
        height: 400px;
        transform: rotate(180deg);
    }

    #Resumen .container{
        display: flex;
        justify-content: space-around;

    }

    #Resumen .texto{
        text-align: initial;
        width: 60%;
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #Resumen p{
        padding-top: 0;
    }

    #Proyectos .img-container{
        background-image:url(media/proyecto.png);
        background-size: cover;
        background-position: center center;
        width: 50%;
        height: 400px;
    }

    #Proyectos .container{
        display: flex;
        justify-content: space-around;

    }

    #Proyectos .texto{
        text-align: initial;
        width: 60%;
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #Proyectos p{
        padding-top: 0;
    }

    footer{
        justify-content: flex-end;


    }


}

